<div class="todo-item" id="todo-item-{{ MAIN_ITEM_ID }}">
	<details>
		<summary>{{ MAIN_ITEM_SUMMARY }}</summary>
		
		<small><i>ID: {{ MAIN_ITEM_ID }}</i></small><br>
		<small><i>Created: {{ MAIN_ITEM_CREATED }}</i></small><br>
		<small><i>Modified: {{ MAIN_ITEM_MODIFIED }}</i></small><br>
		Deadline: {{ MAIN_ITEM_DEADLINE }}<br>
		Category: {{ MAIN_ITEM_CATEGORY }}<br>
		<br>
		
		<form action="./" method="POST">
			<input type="hidden" name="action" value="delay" />
			<input type="hidden" name="delay_by" value="-1 week" />
			<input type="hidden" name="todo_item_id" value="{{ MAIN_ITEM_ID }}" />
			<input type="submit" value="-1 week" />
		</form>
		
		<form action="./" method="POST">
			<input type="hidden" name="action" value="delay" />
			<input type="hidden" name="delay_by" value="-1 day" />
			<input type="hidden" name="todo_item_id" value="{{ MAIN_ITEM_ID }}" />
			<input type="submit" value="-1 day" />
		</form>
		
		<div style="display:inline-block;width:1em;"></div>
		
		<form action="./" method="POST">
			<input type="hidden" name="action" value="delay" />
			<input type="hidden" name="delay_by" value="+1 day" />
			<input type="hidden" name="todo_item_id" value="{{ MAIN_ITEM_ID }}" />
			<input type="submit" value="+1 day" />
		</form>
		
		<form action="./" method="POST">
			<input type="hidden" name="action" value="delay" />
			<input type="hidden" name="delay_by" value="+1 week" />
			<input type="hidden" name="todo_item_id" value="{{ MAIN_ITEM_ID }}" />
			<input type="submit" value="+1 week" />
		</form>
		
		<div style="display:inline-block;width:1em;"></div>
		<div style="display:inline-block;width:1em;"></div>
		
		<form onsubmit="return false">
			<input type="submit" value="Edit" onclick="editNote('{{ MAIN_ITEM_ID }}', '{{ MAIN_ITEM_TITLE }}', '{{ MAIN_ITEM_DESCRIPTION }}', '{{ MAIN_ITEM_DEADLINE }}', '{{ MAIN_ITEM_CATEGORY_RAW }}')" />
		</form>
		
		<form action="./" method="POST">
			<input type="hidden" name="action" value="remove" />
			<input type="hidden" name="todo_item_id" value="{{ MAIN_ITEM_ID }}" />
			<input type="submit" value="Remove" />
		</form>
		
	</details>
</div>