<div class="navbar">
	<form action="./" method="GET" class="navbar-form">
		<input type="hidden" name="backup" value="1">
		<!-- Backing up actually works but there is no restore function yet... -->
		<!-- <input type="submit" value="Back up"> -->
		<input type="submit" value="Back up">
	</form>
	<form action="./" method="GET" class="navbar-form">
		<input type="hidden" name="restore-list" value="1">
		<input type="submit" value="Restore">
	</form>
	<form action="./" method="GET" class="navbar-form">
		<input type="hidden" name="logout" value="1">
		<input type="submit" value="Log out">
	</form>
	<p><a href="https://github.com/Thayol/todo-php"><small>GitHub</small></p>
</div>