<div class="todo-item" id="todo-item-{{ TODO_ITEM_ID }}">
	<details>
		<summary>{{ TODO_ITEM_SUMMARY }}</summary>
		
		<form action="./" method="POST">
			<input type="hidden" name="action" value="delay" />
			<input type="hidden" name="delay_by" value="-1 week" />
			<input type="hidden" name="todo_item_id" value="{{ TODO_ITEM_ID }}" />
			<input type="submit" value="-1 week" />
		</form>
		
		<form action="./" method="POST">
			<input type="hidden" name="action" value="delay" />
			<input type="hidden" name="delay_by" value="-1 day" />
			<input type="hidden" name="todo_item_id" value="{{ TODO_ITEM_ID }}" />
			<input type="submit" value="-1 day" />
		</form>
		
		<div style="display:inline-block;width:1em;"></div>
		
		<form action="./" method="POST">
			<input type="hidden" name="action" value="delay" />
			<input type="hidden" name="delay_by" value="+1 day" />
			<input type="hidden" name="todo_item_id" value="{{ TODO_ITEM_ID }}" />
			<input type="submit" value="+1 day" />
		</form>
		
		<form action="./" method="POST">
			<input type="hidden" name="action" value="delay" />
			<input type="hidden" name="delay_by" value="+1 week" />
			<input type="hidden" name="todo_item_id" value="{{ TODO_ITEM_ID }}" />
			<input type="submit" value="+1 week" />
		</form>
		
		<div style="display:inline-block;width:1em;"></div>
		<div style="display:inline-block;width:1em;"></div>
		
		<form action="./" method="POST">
			<input type="hidden" name="action" value="remove" />
			<input type="hidden" name="todo_item_id" value="{{ TODO_ITEM_ID }}" />
			<input type="submit" value="Remove" />
		</form>
		
	</details>
</div>